@import "./about.scss";

.contact-box {
  background: #fff;
  border-radius: 24px;
  padding: 32px;
  margin-bottom: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.04);

  p {
    font-size: 14px;
    color: #8b7d6b;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 28px;
    font-weight: 600;
  }
}