@use './variables' as *;

.footer {
  background: #111;
  color: $sub;
  padding: 50px 240px;

  .inner {
    margin: 0 auto;
  }

  .footer-logo {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 16px;
    color: $sub;
  }

  p {
    font-size: 14px;
    line-height: 1.8;
    color: $sub;
  }
}