@use './variables' as *;

.header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(8px);
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  z-index: 1000;

  .inner {
    height: 100%;
    margin: 0 auto;
    padding: 0 240px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    
    a{
        color: $point;
    }
  }

  .gnb {
    display: flex;
    gap: 25px;

    a {
      font-size: 14px;
      transition: .3s;
      color: $sky;
    }

    a.active {
      font-weight: 600;
      color: $point;
    }
  }
}