@use './style/variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  min-height: 100%;
}

body {
  font-family: "Pretendard", sans-serif;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  display: block;
  object-fit: cover;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

